@import 'variables';
@import 'fonts';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Futura Book', sans-serif;
    font-size: 1.5em;
    color: #666;
}

h1 {
}


p.lead {
    font-size: 1.2em;
}

.navbar-nav {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5em;
}

.welcome-container {
    margin-top: 5em;

    .invitation-row {
        p {
            font-family: 'Goudy Old Style', serif;
        }

        h1 {
            font-family: 'Allura', cursive;
            font-size: 3em;
        }
    }

    .detail-row {
        font-size: 0.8em;

        a {
            color: #666;
            text-decoration: none;
        }
    }

    img {
        width: 300px;
    }
}

#google-map {
    overflow: hidden;
    padding-top: 66.5%;
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    background-color: #EEE;
}

small {
    font-size: 14px;
    font-style: italic;
}

a {
    color: #666;
    text-decoration: none;

    &:hover {
        color: #666;
        text-decoration: underline;
    }
}
