@font-face {
    font-family: 'Futura Book';
    src: url('../fonts/Futura Book Regular.otf');
}
@font-face {
    font-family: 'Goudy Old Style';
    src: url('../fonts/Goudy Old Style Regular.ttf');
}
@font-face {
    font-family: 'Allura';
    src: url('../fonts/Allura-Regular.otf');
}
